{% extends 'main/index.html' %}

{% block title %} {{location_detail.id}} {% endblock %}

{% block content %}
<div>
    <h4>{{channel_detail.channel_name}}</h4>
    <h4>{{channel_detail.object_a}}</h4>
    <h4>{{channel_detail.object_b}}</h4>
    <h4>{{channel_detail.traffic}}</h4>
    <h4>{{channel_detail.description}}</h4>
</div>
  
<br> 
<div>
{%for equip in channel_detail.equipment_connect.all%}
<div class="list-group col-4">
    <a href="#" class="list-group-item list-group-item-action active">{{equip.equipment}}</a>
    <a href="#" class="list-group-item list-group-item-action active">{{equip.locations_connect.location}}</a>
</div>
<br>
{% endfor %}  

<div>
{% regroup channel_detail.equipment_connect.all by locations_connect as locations_list %}
<ul>
    {% for locations_connect in locations_list %}
        <li class="text-primary">{{ locations_connect.grouper }}
            <ul>
                {% for equip  in locations_connect.list %}
                <li class="text-dark">{{ equip.equipment }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
 

<br>
</div>
<div>
    <a href="{% url 'update_location' channel_detail.id %}" class="btn btn-primary active" role="button" aria-pressed="true">Изменить</a>
    <a href="{% url 'delete_location' channel_detail.id %}" class="btn btn-danger active" role="button" aria-pressed="true">Удалить</a>
</div>                    
{% endblock%}