
{% extends 'main/index.html' %}
{% block title %}Создание объекта{% endblock %}


{% block content %}


<div class="container-fluit">
    <form method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                {{form.non_form_errors }}
                {{form.location.label}}: {{form.location}} <br><br>
                {{form.address.label}}: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.address}}
                <br><br>
                <span class="badge rounded-pill bg-danger">{{ error }}</span>
            </div>
            <div class="card-body">
                <h5 class="text-primary">Добавить оборудование</h5>
                {{ equipment_formset.non_form_errors }}
                {{ equipment_formset.management_form }}
                {% for form in equipment_formset %}
                <div class="d-flex py-1 inline {{ product_meta_formset.prefix }}">
                    <div>{{form.equipment.label}}: {{ form.equipment }}</div>&nbsp
                    <div class="ml-4">{{form.description.label}}: {{ form.description }}</div>
                   <!---{% if equipment_formset.can_delete %}&nbsp&nbsp
                        <div class="ml-4">{{ form.DELETE }} {{ form.DELETE.label }}</div>
                    {% endif %}--> 
                </div>
                {% endfor %}      
        </div>
        <div class="">
            <button type="submit" class="px-5 btn btn-primary ">Создать</button>
        </div>
    </form>
</div>

{% endblock %} 