
{% extends 'main/index.html' %}
{% block title %}Создание объекта{% endblock %}


{% block content %}

<style>
.hidden {
    display: none;
}

</style>
<script>
   
</script>



<div class="container-fluit">
    <form id="form-container" method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-header row align-items-center">
                <div class="col-10 text-right">
                    {{form.non_form_errors }}
                    {{form.location.label}}: {{form.location}} <br><br>
                    {{form.address.label}}: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.address}}
                    <br><br>
                    <span class="badge rounded-pill bg-danger">{{ error }}</span>
                </div>
                <div class="col-2 align-items-start">
                    <button type="submit" class="btn btn-primary activate">Создать</button>
                </div>
                
            </div>
            <div class="card-body">
                <h5 class="text-primary">Добавить оборудование</h5>
                {{ equipment_formset.non_form_errors }}
                {{ equipment_formset.management_form }}
            <div >
                {% for form in equipment_formset %}
                <div class="bird-form">
                    <div >{{form.equipment.label}}: {{ form.equipment }}</div>&nbsp
                    <div >{{form.description.label}}: {{ form.description }}</div>
                     {% if equipment_formset.can_delete %}&nbsp&nbsp
                        <div>{{ form.DELETE.label }} {{ form.DELETE }}</div>
                    {% endif %}
                </div> 
            </div><br>
            {% endfor %}      
            <button id="add-form" type="button">Add Another Bird</button>
                    


            </div>
        </div>
            
    </form>
   <script>
       let birdForm = document.querySelectorAll(".bird-form")
  let container = document.querySelector("#form-container")
  let addButton = document.querySelector("#add-form")
  let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

  let formNum = birdForm.length-1
  addButton.addEventListener('click', addForm)

  function addForm(e){
      e.preventDefault()

      let newForm = birdForm[0].cloneNode(true)
      let formRegex = RegExp(`form-(\\d){1}-`,'g')

      formNum++
      newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
      container.insertBefore(newForm, addButton)
      
      totalForms.setAttribute('value', `${formNum+1}`)
  }
   </script>
</div>

{% endblock %} 

<!--<div class="card-header row align-items-center">
    <div class="col-10 text-right">
        <h4>{{channel_detail.channel_name}}</h4>
        <h6>Прохождение: <b>{{channel_detail.object_a}} - {{channel_detail.object_b}}</b></h6> 
        <h6>Трафик: <b>{{channel_detail.traffic}}</b></h6> 
        <h6>Описание: <b>{{channel_detail.description}}</b></h6> 
    </div>
    <div class="col-2 align-items-start">
        <a href="{% url 'url_update_channel' channel_detail.id %}" class="btn btn-primary active" role="button" aria-pressed="true">Изменить</a>
    </div>
</div>  -->

