
{% extends 'main/index.html' %}
{% block title %}Создание объекта{% endblock %}


{% block content %}


<script type="text/html" id="item-template">
    <div id="item-__prefix__">  
        <div class="card col-6">
            <div>&nbsp</div>
                <table>
            <tbody>
                <tr><td>{{equipment_formset.empty_form.equipment.label}}:</td><td> {{ equipment_formset.empty_form.equipment }}</td></tr>
                <tr><td>{{equipment_formset.empty_form.room.label}}:</td><td>  {{ equipment_formset.empty_form.room }}</td></tr>
                <tr><td>{{equipment_formset.empty_form.mount_cab.label}}:</td><td>  {{ equipment_formset.empty_form.mount_cab }}</td></tr>
                <tr><td>{{equipment_formset.empty_form.ip_address.label}}:</td><td>  {{ equipment_formset.empty_form.ip_address }}</td></tr>
                <tr><td>{{equipment_formset.empty_form.inv_number.label}}:</td><td>  {{ equipment_formset.empty_form.inv_number }}</td></tr>
                <tr><td>{{equipment_formset.empty_form.id_number.label}}:</td><td>   {{ equipment_formset.empty_form.id_number }}</td></tr>
                <tr><td>{{equipment_formset.empty_form.description.label}}:</td><td>  {{ equipment_formset.empty_form.description }}</td></tr>
            </tbody>
        </table>
        </div>
    </div>
</script>


<div class="container-fluit">
    <form method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-header row align-items-center">
                <div class="col-10 text-right">
                    {{form.non_form_errors }}
                    {{form.location.label}}: {{form.location}} <br><br>
                    {{form.address.label}}: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.address}}
                    <br><br>
                    <span class="badge rounded-pill bg-danger">{{ error }}</span>
                </div>
                <div class="col-2 align-items-start">
                    <button type="submit" class="btn btn-primary activate">Создать</button>
                </div>
            
            </div>
            <div class="card-body">
                <h5 class="text-primary">Добавить оборудование</h5>
                {{ equipment_formset.non_form_errors }}
                {{ equipment_formset.management_form }}
            <div id="items-form-container">
                {% for form in equipment_formset %}
                <div class="card col-6 {{ product_meta_formset.prefix }}" id="item-{{ forloop.counter0 }}">
                    <div>&nbsp</div>
                    <table>
                        <tbody>
                            <br>
                            <tr><td>{{form.equipment.label}}:<td/><td>{{ form.equipment }}</td></tr>
                            <tr><td>{{form.mount_cab.label}}:<td/><td>{{ form.mount_cab }}</td></tr>
                            <tr><td>{{form.ip_address.label}}:<td/><td>{{ form.ip_address }}</td></tr>
                            <tr><td>{{form.inv_number.label}}:<td/><td>{{ form.inv_number }}</td></tr>
                            <tr><td>{{form.id_number.label}}:<td/><td>{{ form.id_number }}</td></tr>
                            <tr><td>{{form.description.label}}:<td/><td>{{ form.description }}</td></tr>
                            
                        </tbody>
                    </table>
                     {% if equipment_formset.can_delete %}&nbsp
                        <div class="ml-4">{{ form.DELETE.label }} {{ form.DELETE }}</div>
                    {% endif %}
                </div> 
            </div><br>
            {% endfor %}      
            <button class="btn btn-primary add-item" type="button" id="add-item-button">
                Добавить строку
            </button>      
            </div>
        </div>      
    </form>
</div>
{% endblock %} 
