
{% extends 'main/index.html' %}
{% block title %}Создание объекта{% endblock %}


{% block content %}


<script type="text/html" id="item-template">
    <div class="d-flex py-1 inline" id="item-__prefix__">
        <div >{{equipment_formset.empty_form.equipment.label}}: {{ equipment_formset.empty_form.equipment }}</div>&nbsp
        <div >{{equipment_formset.empty_form.description.label}}: {{ equipment_formset.empty_form.description }}</div>
    </div>
</script>


<div class="container-fluit">
    <form method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-header row align-items-center">
                <div class="col-10 text-right">
                    {{form.non_form_errors }}
                    {{form.location.label}}: {{form.location}} <br><br>
                    {{form.address.label}}: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.address}}
                    <br><br>
                    <span class="badge rounded-pill bg-danger">{{ error }}</span>
                </div>
                <div class="col-2 align-items-start">
                    <button type="submit" class="btn btn-primary activate">Создать</button>
                </div>
            
            </div>
            <div class="card-body">
                <h5 class="text-primary">Добавить оборудование</h5>
                {{ equipment_formset.non_form_errors }}
                {{ equipment_formset.management_form }}
            <div id="items-form-container">
                {% for form in equipment_formset %}
                <div class="d-flex py-1 inline {{ product_meta_formset.prefix }}" id="item-{{ forloop.counter0 }}">
                    <div >{{form.equipment.label}}: {{ form.equipment }}</div>&nbsp
                    <div >{{form.description.label}}: {{ form.description }}</div>
                     {% if equipment_formset.can_delete %}&nbsp&nbsp
                        <div class="ml-4">{{ form.DELETE.label }} {{ form.DELETE }}</div>
                    {% endif %}
                </div> 
            </div><br>
            {% endfor %}      
            <button class="btn btn-primary add-item" type="button" id="add-item-button">
                Добавить строку
            </button>      
            </div>
        </div>      
    </form>
</div>
{% endblock %} 
