{% extends 'main/index.html' %}

{% block title %} Оборудование {% endblock %}

{% block content %}


<div class="card">
    <div class="card-header">
        <h4>{{equipment.equipment}}</h4>
        <h6>Описание: {{equipment.description}}</h6> 
        <h6>Объект: {{equipment.locations_connect}}</h6> 
        
        <br>
    </div>
        <table id='tblData' class="">     
            <thead>
                <th>Каналы</th>
            </thead>
            <tbody>
                {% for channel in equipment.equipmentcon.all %}
                <tr>
                    <td><a href="{% url 'url_channel_detail_view' channel.id %}" > {{ channel.channel_name }}</a></td>
                </tr>  
                {%endfor%}
            </tbody>
        </table>

    </div>
</div>
        
{% endblock%}