{% extends 'main/index.html' %}

{% block title %} Канал {% endblock %}

{% block content %}


<div class="card">
    <div class="card-header">
        <h4>{{equipment.equipment}}</h4>
        <h6>Описание: {{equipment.description}}</h6> 
        <h6>Описание: {{equipment.locations_connect}}</h6> 
        
        <br>
    </div>
    <div class="card-body">
        <ul>
            {% for channel in equipment.equipmentcon.all %}
                    <ul>
                        
                        <li class="text-primary"><h5><a href="{% url 'url_channel_detail_view' channel.id %}" > {{ channel.channel_name }} </h5></a></li>
                        <br>
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <br>
    </div>
</div>
        
{% endblock%}