{% extends 'main/index.html' %}

{% block title %} {{location_detail.location}} {% endblock %}

{% block content %}

       
        <div class="container mt-4">
                <div class="card">
                    <div class="card-header">
                        <h4>{{location_detail.location}}</h4>
                        <h6>Адрес объекта: {{location_detail.address}}</h6>
                    </div>
                    <div class="card-body">
                        <h5 class="text-primary">Оборудование</h5>
                        {%for i in location_detail.locationcon.all%}

                        <div lass="container mt-4">
                            <div class="card-header">
                                <h4>{{i.equipment}}</h4>
                                <h4>{{i.description}}</h4>
                                <h4>{{i.equipmentcon.all}}</h4>
                                <h4>{{i.equipment_connect}}</h4>
                                {{sas=i.equipmentcon.all}}
                            </div>
                            <div class="card-body">
                                <h5 class="text-primary">Оборудование</h5>
                                {%for channel in sas%}
                                {{ channel.channel_name}} {{ channel.description}}
                                {% endfor %}
                            </div>
                         {% endfor %}
                    </div>
                </div>
                <br>
                <div>
                    <a href="{% url 'update_location' location_detail.id %}" class="btn btn-primary active" role="button" aria-pressed="true">Изменить</a>
                    <a href="{% url 'delete_location' location_detail.id %}" class="btn btn-danger active" role="button" aria-pressed="true">Удалить</a>
                </div>
        </div>
{% endblock%} 