{% extends 'main/index.html' %}

{% block title %} Изменение объекта {% endblock %}

{% block content %}

<script type="text/html" id="item-template">
    <div class="d-flex py-1 inline" id="item-__prefix__">
        <div >{{equipment_formset.empty_form.equipment.label}}: {{ equipment_formset.empty_form.equipment }}</div>&nbsp
        <div >{{equipment_formset.empty_form.description.label}}: {{ equipment_formset.empty_form.description }}</div>
        <br><br>
    </div>
</script>

<div class="container-fluid">
    <form method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-header row align-items-center">
                <div class="col-10 text-right">
                    <h4>Изменение объекта</h4>
                </div>
                <div class="col-2 align-items-start">
                    <button type="submit" class="btn btn-primary activate">Принять изменения</button>
                </div>
        </div>
            <div class="card-body">
                {{form.non_form_errors }}
                {{form.location.label}}: {{form.location}} <br><br>
                {{form.address.label}}: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{form.address}}
                <p></p>
                <h5 class="text-primary">Изменить оборудование</h5>
                {{ equipment_formset.non_form_errors }}
                {{ equipment_formset.management_form }}
                <div id="items-form-container"> 
                {% for eq in equipment_formset %}
                <div id="item-{{ forloop.counter0 }}">
                    {{ eq.id}}
                    Оборудование: {{ eq.equipment}}
                    Описание: {{ eq.description }}
                    Удаление: {{ eq.DELETE }}
                     <br><br>
                    
                </div>
                {% endfor %}
                </div>
                <br>
                <button class="btn btn-primary add-item" type="button" id="add-item-button">
                    Добавить строку
                </button> 
            </div>
        </div>
        <div class="mt-3 mb-5">
            
        </div>
    </form>
</div>

{% endblock%} 